@import './base.css';

#app {
  margin: 6em;
  margin-top: 3em;
  font-weight: normal;
  vertical-align: text-top;
}

@media (hover: hover) {
  a:hover {
    text-decoration: underline;
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}