@import './base.css';

#app {
  width: 100vw;
  height: 100vh;
  justify-content: center;
}

.mainContent{
  width:77%;
  margin: auto !important;
}

@media (hover: hover) {
  a:hover {
    text-decoration: underline;
  }
}

@media (max-width: 1280px) {
  .mainContent{
    width:95%;
    margin: auto !important;
  }
}